@inherits LayoutComponentBase


    <div class="page">
    @if (globalState.CurrentUser != null)
    {
        <div class="sidebar" >
            <NavMenu Username="@globalState.CurrentUser.Username" UserRole="@globalState.CurrentUser.Role" LogoutHandler="LogoutHandler" />
        </div>
        }
    <main>
       

        <article class="content px-4" >
            <CascadingValue Value="@globalState">
            @Body
            </CascadingValue>
        </article>
    </main>
</div>

@code {
    private GlobalState globalState = new();

    protected override void OnInitialized()
    {
        UserServices.SeedUsers();
        
    }

    private void LogoutHandler()
    {
        globalState.CurrentUser = null;
        NavManager.NavigateTo("/login/logout");
    }
}