label {
    color: #f2cf8c;
}
h1 {
    color: #00bec3;
}
.form-control .currentpassword {
    margin-bottom: -1px;
    color: white;
    background: #7e4000;
}

.form-control .newpassword {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: #7e4000;
}