.table {
    color: #290e00;
    background-color: #f2cf8c;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

.nav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

.heading {
    background-color: #f2cf8c;
    background: #f2cf8c;
}